*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.binlog
*.*sdf
*.typemock
*.tmp
*.metaproj
*.[Pp]ublish.xml
[Bb]uild[Ll]og.*
[Bb]in/
[Oo]bj/
.vs/
_ReSharper*/
/artifacts/
*/packages/
.packages/
/shipping/
*.g.cs
*.g.props
*.g.ps1
*.g.json
.packages
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/shelf
/publish/
/tools/
**/inspectcode.xml
/.local
/eng/MetalamaVersion.props
MetalamaVersion.props
TestResults
launchSettings.json
.idea/workspace.xml
/eng/tools
Metalama.Import.props
coverage.json
/.tools
/dependencies
/source-dependencies
/docker-source-dependencies
.sonarqube
/.config/dotnet-tools.json
.generated
nuget.config
global.json
**/.idea/workspace.xml
**/.idea/copilot.data.*.xml