@page
@using Metalama.Backstage.UserInterface
@inject WebLinks WebLinks

@{
    ViewData["Title"] = "Index";
}


<div class="arrow-buttons">
    <div onclick="location.href='/Setup'">
        <h4>Add Metalama License</h4>
        <p>
            Add a Metalama license key to benefit from premium features.
        </p>
    </div>
    <div onclick="location.href='/RssOptions'">
        <h4>Configure News Notifications</h4>
        <p>
            Tell us which product news you are interested in, if any.
        </p>
    </div>
    <div onclick="location.href='/Privacy'">
        <h4>Configure Telemetry</h4>
        <p>
            Choose what anonymous data Metalama may collect to help improve the product.
        </p>
    </div>
</div>

<p>
    Other commands are available from the <code>metalama</code> CLI tool.
    <a href="@WebLinks.DotNetTool"
       target="_blank">
        Read more.
    </a>
</p>
