@page
@model LicenseKeyPageModel


<form method="post">
    <p>
        <label asp-for="LicenseKey ">Please paste the license key below:</label>
    </p>
    <p>
        <textarea asp-for="LicenseKey"></textarea>
    </p>

    <div class="navigation-buttons">
        <div class="back-button">
            <a href="/ChooseLicenseKind">&larr; Back</a>
        </div>
        <div class="continue-button">
            <button type="submit">Continue</button>
        </div>
    </div>
</form>


@foreach (var error in Model.ErrorMessages)
{
    <div class="text-danger">
        @error
    </div>
}