@page
@model DonePageModel

@* This content is shown when offline, or when the online welcome page has already been shown. See the OnGet method. *@

<p class="text-center">Thank you for activating Metalama.</p>
<p class="text-center">You can now close this window.</p>